<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: aliceblue;
            width: 100%;
        }
    </style>
</head>
<body>
    <a href="{% url 'leads:task-list' %}">Go back</a>
    <hr>
    <h1>Tasks details of {{ task.task_name }}</h1>
    <p>Description of task: {{ task.task_description }}</p>
    <p>Staff asigned to completion of task: {{ task.staff_asigned }}</p>
    <hr>
    <a href="{% url 'leads:task-update' task.pk %}">Update</a>
    <a href="{% url 'leads:task-delete' task.pk %}">Delete</a>
</body>
</html>