<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: aliceblue;
            width: 100%;
        }
    </style>
</head>
<body>
    <a href="/leads/create/">Create new task</a>
    <hr>
    <h1>Tasks List</h1>
    {% for task in tasks %}

    <div class="lead">
       <a href="/leads/{{ task.pk }}/">{{ task.task_name }}</a> 
    </div>

    {% endfor %}
</body>
</html>